/userver
/.cache

*.sw*

compile_commands.json

/build
__pycache__/

generated/

/stow/byobu/.byobu
!stow/byobu/.byobu/.tmux.conf
!stow/byobu/.byobu/.reuse-session
!stow/byobu/.byobu/color.tmux

/nixos/modules/shadowsocks/config.json

